:root {

    /* Colors */
    --color-accent: #d4251f;
    --color-black: #0f0f0f;
    --color-white: #ffffff;
    --color-gray-dark: #323232;
    --color-gray-medium: #6e6e6e;
    --color-gray-light: #f1f1f1;

    --color-text: var(--color-black);
    --color-link: var(--color-gray-medium);
    --color-link-hover: var(--color-gray-dark);
    --color-background: var(--color-gray-light);
    --color-background-hivis: #e6ff66;


    /* Type */
    --font-primary: "DM Mono", monospace;
    --font-secondary: "DM Sans", sans-serif;

    --font-heading: var(--font-secondary);
    --font-text: var(--font-primary);

    --text-xl: 2.5rem;
    --text-l: 1.5rem;
    --text-m: 1.25rem;
    --text-s: 1rem;
    --text-xs: 0.875rem;

    --font-bold: 700;
    --font-normal: 400;

    --text-line-height-m: 1.5;
    --text-line-height-s: 1.25;

    /* Spacing */
    --space-3xl: 5rem;
    --space-2xl: 4rem;
    --space-xl: 2.5rem;
    --space-l: 2rem;
    --space-m: 1.5rem;
    --space-s: 1.25rem;
    --space-xs: 1rem;
    --space-2xs: 0.5rem;
    --space-3xs: 0.25rem;

}
