/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-start: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

:root {
  /* Colors */
  --color-accent: #d4251f;
  --color-black: #0f0f0f;
  --color-white: #ffffff;
  --color-gray-dark: #323232;
  --color-gray-medium: #6e6e6e;
  --color-gray-light: #f1f1f1;
  --color-text: var(--color-black);
  --color-link: var(--color-gray-medium);
  --color-link-hover: var(--color-gray-dark);
  --color-background: var(--color-gray-light);
  --color-background-hivis: #e6ff66;
  /* Type */
  --font-primary: "DM Mono", monospace;
  --font-secondary: "DM Sans", sans-serif;
  --font-heading: var(--font-secondary);
  --font-text: var(--font-primary);
  --text-xl: 2.5rem;
  --text-l: 1.5rem;
  --text-m: 1.25rem;
  --text-s: 1rem;
  --text-xs: 0.875rem;
  --font-bold: 700;
  --font-normal: 400;
  --text-line-height-m: 1.5;
  --text-line-height-s: 1.25;
  /* Spacing */
  --space-3xl: 5rem;
  --space-2xl: 4rem;
  --space-xl: 2.5rem;
  --space-l: 2rem;
  --space-m: 1.5rem;
  --space-s: 1.25rem;
  --space-xs: 1rem;
  --space-2xs: 0.5rem;
  --space-3xs: 0.25rem;
}

/* Body & Containers */
body {
  background-color: var(--color-background);
  padding: var(--space-s);
}

.page-wrapper {
  max-width: 64rem;
  margin: 0 auto;
}

.text-wrapper {
  max-width: 800px;
}

.link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-l);
  margin-top: var(--space-xl);
}

/* Lists */
ul[role=list],
ol[role=list] {
  padding: 0;
  margin-top: var(--space-l);
  margin-bottom: var(--space-3xl);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xl);
}

/* Footer */
footer {
  margin-top: var(--space-3xl);
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Links */
a {
  margin-bottom: var(--space-2xs);
}

h1 a {
  margin-bottom: inherit;
}

:focus-visible {
  outline-color: var(--color-black);
  outline-style: auto;
  outline-width: 1px;
}

.skip-to-main {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: var(--space-xs);
  background-color: var(--color-background-hivis);
  opacity: 0;
}

.skip-to-main:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

/* Info */
.info {
  margin-bottom: var(--space-2xl);
}

.info-content {
  margin-bottom: var(--space-s);
}

/* Section */
section {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-bottom: var(--space-l);
}

/* Figure */
figure {
  background-color: var(--color-white);
  border-radius: 1rem;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-xs);
}

img {
  border-color: var(--color-gray-light);
  border-style: solid;
  border-width: 1px;
}

figcaption {
  margin-top: var(--space-s);
  margin-bottom: var(--space-2xs);
}

/* Card */
.card {
  display: flex;
  gap: var(--space-2xl);
  margin-bottom: var(--space-l);
  justify-content: space-between;
}

.card h2 {
  margin-bottom: var(--space-2xs);
}

.card p {
  margin: 0;
}

.card-image {
  width: 16rem;
  height: 16rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

@media (max-width: 900px) {
  .card {
    flex-direction: column;
  }
  .card-image {
    width: auto;
    height: 16rem;
  }
}
/* Tags */
.tag-wrapper {
  display: flex;
  gap: var(--space-xs);
  margin-bottom: var(--space-l);
}

.tag {
  background-color: var(--color-white);
  padding-top: var(--space-3xs);
  padding-bottom: var(--space-3xs);
  padding-left: var(--space-2xs);
  padding-right: var(--space-2xs);
  border-radius: 1rem;
}

/* Utilities */
.icon {
  width: 3.75rem;
  height: 3.75rem;
}

/* Body */
body {
  font-family: var(--font-text);
  font-size: var(--text-m);
  font-weight: var(--font-normal);
  line-height: var(--text-line-height-m);
  color: var(--color-text);
}

/* Footer */
.footer-content {
  font-size: var(--text-xs);
  color: var(--color-gray-medium);
}

/* Paragraph */
p {
  font-size: var(--text-m);
}

/* Headings */
h1 {
  font-family: var(--font-heading);
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  line-height: var(--text-line-height-s);
}

h2 {
  font-weight: var(--font-normal);
}

/* Links */
a {
  font-size: var(--text-m);
  color: var(--color-link);
  text-decoration: underline;
}

a:hover {
  color: var(--color-link-hover);
}

h1 a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

h1 a:hover {
  color: inherit;
  text-decoration: underline;
}

h2 a {
  font-size: inherit;
}

/* Info */
.info-content {
  font-size: var(--text-s);
  color: var(--color-gray-medium);
  text-transform: uppercase;
}

/* Figure */
figcaption {
  font-size: var(--text-xs);
  text-align: center;
  color: var(--color-gray-medium);
}

/* Card */
.card h2 {
  font-size: var(--text-l);
}

/* Tags */
.tag {
  font-size: var(--text-xs);
}

/* Utilities */
.highlight {
  color: var(--color-accent);
}

/*

>>>> ORIGINAL CSS <<<<

html {
    font-size: 16px;
  }

  body {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    background-color: #f1f1f1;
    color: #0f0f0f;
    line-height: 1.5;
    margin: 0;
    padding: 1.25rem;
  }

  .container {
    max-width: 64rem;
    margin: 0 auto;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2.5rem;
  }

  h1 {
    font-family: "DM Sans", monospace;
    font-size: 2.5rem;
    line-height: 1.25;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
  }

  h1 a {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    margin-bottom: inherit;
  }

  h1 a:hover {
    color: inherit;
    text-decoration: underline;
  }

  img {
    max-width: 100%;
    display: block;
  }

  h2 {
    font-weight: 400;
  }

  h2 a {
    font-size: inherit;
  }

  p {
    font-size: 1.25rem;
  }

  .project-info-p {
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    font-size: 1rem;
  }

  .highlight {
    color: #d4251f;
  }

  .icon {
    width: 3.75rem;
    height: 3.75rem;
  }

  main p {
    margin-bottom: 2.5rem;
  }

  .disclaimer {
    margin-bottom: 2rem;
    font-size: 0.875rem;
  }

  .case-study {
    display: flex;
    gap: 4rem;
    margin-bottom: 2rem;
    justify-content: space-between;
  }

  .case-study h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .case-study p {
    margin: 0;
  }

  .case-study-image {
    width: 16rem;
    height: 16rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    flex-shrink: 0;
  }

  @media (max-width: 900px) {
    .case-study {
      flex-direction: column;
    }
    .case-study-image {
      width: auto;
      height: 16rem;
    }
  }
  ul[role=list] {
    list-style: none;
    padding: 0;
  }

  .tags {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .tag {
    font-size: 1rem;
    background-color: #ffffff;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
  }

  .text-container {
    max-width: 800px;
  }

  .made-by {
    color: #6e6e6e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
  }

  .link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  a {
    font-size: 1.25rem;
    color: #6e6e6e;
    text-decoration: underline;
    margin-bottom: 0.5rem;
  }

  a:hover {
    color: #323232;
  }

  .project-info {
    margin-bottom: 4rem;
  }

  .section {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-bottom: 2rem;
  }

  .image-section {
    background-color: #ffffff;
    border-radius: 1rem;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin: 4rem 0 4rem 0;
  }

  .image-caption {
    font-size: 0.875rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  footer {
    margin-top: 5rem;
    font-size: 0.875rem;
  }

*/

/*# sourceMappingURL=style.css.map */
